[Desktop Entry]
Encoding=UTF-8
Value=1.0
Categories=System
Name=pertubis
Type=Application
GenericName=Package Manager
StartupNotify=No
Exec=/usr/bin/pertubis-launcher
Icon=pertubis.png
