[Desktop Entry]
Encoding=UTF-8
Value=1.0
Categories=System
Name=perturbis
Type=Application
GenericName=Package Manager
StartupNotify=No
Exec=/usr/bin/perturbis-launcher
Icon=perturbis.png
